body {
  margin: 0;
  background-color: #2d1815;
  font-family: "Gloria Hallelujah", cursive;
}
h1 {
  margin: 0;
  font-size: 50px;
}
.container {
  margin: 0px 50px;
}
.header {
  background-image: url(background.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.header-line {
  padding-top: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav {
  margin-top: -35px;
  margin-left: 200px;
}
.nav-item {
  color: #1a0456;
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  margin-right: 35px;

  transition: color 0.3s linear;
}
.nav-item:hover {
  color: #fff;
}
.num {
  color: #ffffff;
  text-decoration: none;
  font-weight: 400;

  transition: color 0.3s linear;
}
.num:hover {
  color: #fff;
}
.nav-tel-socialmedia {
  margin-top: -35px;
  margin-left: 15px;
  margin-right: -50px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  font-size: 18px;
}
.numer {
  padding-right: 20px;
}
.social {
  padding: 8px;
}
.header-down {
  position: relative;
  line-height: 70px;
  margin-left: 50px;
}
.header-title {
  color: #fff;
  font-size: 40px;
  font-weight: 550;

  text-align: center;
  position: absolute;
  left: 0;

  margin-top: 12%;
}
.header-subtitle {
  color: #f7f5d1;
  font-size: 55px;
  font-weight: 550;
  text-shadow: 10px 9px 3px #1a0456;
}
.btn {
  margin-top: 20px;
}
.button {
  background-image: url(pngwing\ 1.png);
  background-size: 100%;
  background-repeat: no-repeat;
  color: #1a0456;
  font-size: 18px;
  font-weight: 550;
  text-decoration: none;
  padding: 30px 35px 25px 20px;

  transition: color 0.3s linear;
}
.button:hover {
  color: #f33d18;
}

.cards-holder {
  display: flex;
  justify-content: center;
}
.card {
  background-color: #f1dac0a1;
  border-radius: 12%;
  width: 300px;
  height: 330px;
  margin-right: 50px;
  margin-left: 50px;
  margin-top: -70px;
  padding: 0px 20px 20px 20px;
}
.card-image {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
.card-title {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 24px;
}
.card-title span {
  color: #ae5c18;
  padding-left: 10px;
}
.card-desc {
  text-align: center;
  font-size: 18px;
}
.history {
  margin-top: 100px;
  padding-bottom: 90px;
}
.history-title {
  font-size: 36px;
  color: #fff;
  width: 700px;
  text-align: center;
  margin-top: 20px;
}
.history-desc {
  font-size: 20px;
  color: #ffffffa5;
  width: 700px;
  text-align: center;
}
.history-number {
  display: flex;
  width: 700px;
  justify-content: center;
  margin-top: 30px;
  margin-left: 80px;
}
.number-item {
  margin-right: 150px;
  text-align: center;
  font-size: 64px;
  color: #f1dac0;
}
.number-item span {
  display: block;
  font-size: 20px;
  color: #f77c17;
}
.history-images {
  position: relative;
}
.history-holder {
  display: flex;
}
.images-1 {
  position: absolute;
  z-index: 0;
  width: 450px;
  top: 50px;
  left: 100px;
}
.images-2 {
  position: absolute;
  z-index: 1;
  width: 290px;
  top: 260px;
  left: 10px;
}
.images-3 {
  position: absolute;
  z-index: 2;
  width: 300px;
  top: 290px;
  left: 350px;
}

.black-block {
  background-color: #f1dac089;
  border-radius: 35px;
  width: 90%;
  padding: 50px 0px;
  margin: auto;
}
.left-title {
  color: #fff;
  font-size: 30px;
  font-weight: 550;
  margin-bottom: 10px;
  width: 90%;
  text-align: center;
}
.left-text {
  font-size: 20px;
  color: #ffffffbd;
  width: 90%;
  text-align: center;
}
.block-holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.right-btn {
  margin: 0px 100px 0px 10px;
  background-image: url(pngwing\ 1.png);
  background-size: 190px 120px;
  background-repeat: no-repeat;
  color: #1a0456;
  font-size: 45px;
  font-weight: 550;
  text-decoration: none;
  padding: 10px 35px 25px 30px;

  transition: color 0.3s linear;
}
.right-btn:hover {
  color: #f33d18;
}

.dishes {
  margin-bottom: 50px;
}
.dishes-title {
  color: #fff;
  font-size: 54px;
  font-weight: 550;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 70px;
}
.meat {
  width: 460px;
  height: 460px;
}
.dessert {
  width: 200px;
}
.dessert-text {
  color: #fff;
  font-size: 28px;
  padding-left: 55px;
}
.ourdishes {
  display: flex;
  justify-content: center;
}
.ourdishe-item {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.ourdishes-image {
  margin-right: 40px;
}

.menu {
  background-image: url(10.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 90px;
}
.menu-title {
  font-size: 40px;
  color: #fff;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
}

.menu-item {
  background-color: #d9d9d996;
  text-align: center;
  width: 30%;
  border-radius: 60px;
  padding-top: 30px;
  padding-bottom: 10px;

  margin-right: 50px;
}
.menu-text {
  font-size: 30px;
  padding-top: 10px;
  font-weight: 550;
}
.menu-subtext {
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 10px;
}
.menu-btn {
  background-image: url(pngwing\ 1.png);
  background-size: 190px 120px;
  background-repeat: no-repeat;
  color: #1a0456;
  font-size: 45px;
  font-weight: 550;
  text-decoration: none;
  padding: 10px 35px 25px 30px;

  filter: drop-shadow(11px 4px 4px rgba(0, 0, 0, 0.25));

  transition: color 0.3s linear;
}
.menu-btn:hover {
  color: #f33d18;
}
.menu-button {
  margin-bottom: 20px;
}
.menu-image {
  position: relative;
}
.menu-items {
  display: flex;
  justify-content: center;
  margin-right: 20px;
}

.coment {
  padding-top: 90px;
  padding-bottom: 90px;
  text-align: center;
}
.coment-text {
  font-size: 24px;
  color: #ffffffa5;
  margin-bottom: 20px;
  padding: 0px 140px 0px 140px;
}
.coment-image {
  text-align: center;
}
.coment-type {
  font-weight: 600;
  font-size: 20px;
  color: #fff;
}
.coment-name {
  padding-top: 7px;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}

.galery {
  background-color: #fffe95;
}
.galery-title {
  text-align: center;
  font-size: 40px;
  color: #2d1815;
  padding-top: 10px;
  padding-bottom: 10px;
}

.galery-content {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}
.galery-left {
  margin-right: 30px;
}
.galery-down,
.galery-up {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.cook {
  padding-bottom: 100px;
}
.cook-title {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.cook-content {
  display: flex;
  justify-content: space-around;
}

.footer {
  background-image: url(23.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 160px 0px 0px 0px;
  color: #ffffff;
  text-align: center;
  font-size: 25px;
}

.burger-menu {
  display: none;
}

.block {
  display: block;
}
.burger-slide {
  position: absolute;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
}

.disp {
  display: none;
}

@media (max-width: 1500px) {
  .galery-content {
    display: block;
  }
  .img-gal,
  .galery-up,
  .galery-down {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .img-gal {
    margin-bottom: 20px;
  }
  .galery-left {
    margin-right: 0;
  }
}

@media (max-width: 1300px) {
  .menu-items {
    display: block;
  }
  .menu-item {
    margin: 20px auto;
    width: 400px;
  }

  .header-title {
    position: static;
  }
  .header-subtitle:before,
  .header-subtitle:after {
    content: none;
  }

  .cook-content {
    display: block;
  }
  .cook-content img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
  }

  .block-holder {
    display: block;
  }
  .left-title,
  .left-text,
  .righr-button {
    text-align: center;
  }
  .righr-button {
    margin-top: 30px;
  }

  .history-images {
    display: none;
  }

  .history-title,
  .history-desc,
  .history-number {
    width: auto;
  }
}

@media (max-width: 1185px) {
  .burger-menu {
    display: block;
  }
  .nav,
  .nav-tel-socialmedia {
    display: none;
  }

  .header-line {
    justify-content: space-between;
  }

  .ourdishes-image {
    display: none;
  }
}

@media (max-width: 1000px) {
  .cards-holder {
    display: block;
  }
  .card {
    width: 100%;
    margin-top: 30px;
    padding-bottom: 20px;
  }
}

@media (max-width: 788px) {
  .history-holder {
    display: block;
  }
  .menu-item {
    width: auto;
  }

  .high {
    display: none;
  }

  .container {
    margin: auto 40px;
  }

  .number-item {
    font-size: 23px;
  }
}
